.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-container {
  height: 900px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px; /* Adjust the gap as needed */
  padding: 20px;
  margin-top: 10rem;
}

.orchid-icon {
  height: 80px;
}

.heading {
  font-size: 3rem;
  border-bottom: 3px black solid;
}


.main-content {
  display: flex;
  justify-content: center;
}

.about-me {
  background-color: #f9f9f9;
  padding: 20px;
  width: 500px;
  margin: 20px;
  border-radius: 8px;
  text-align: center;
}

.about-me p {
  color: #333;
}

.about-me a {
  color: #007bff;
  text-decoration: none;
}

.about-me a:hover {
  text-decoration: underline;
}
